
<div class="container login-text max-w">
  <h2 class="signin-text text ">Sign In</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email,:class=>"form-text-spacing" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class=> "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password,:class=>"form-text-spacing" %><br />
    <%= f.password_field :password, autocomplete: "current-password",:class=> "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group form-check">
      <%= f.check_box :remember_me ,:class=>"form-check-input" %>
      <%= f.label :remember_me ,:class=>"form-text-spacing"%>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" , :class=>"btn btn-primary form-text-spacing btn-margin"%>
  </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>


