<%= form_with(model: vehicel, local: true,  url: user_vehicel_path(current_user, @vehicel), method: :put) do |form| %>
  <% if vehicel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicel.errors.count, "error") %> prohibited this vehicel from being saved:</h2>

      <ul>
      <% vehicel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :First_name,:class=>"form-text-spacing" %>
    <%= form.text_field :First_name,:class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :surname,:class=>"form-text-spacing" %>
    <%= form.text_field :surname,:class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :vehicel_brand,:class=>"form-text-spacing" %>
    <%= form.text_field :vehicel_brand,:class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :vehicel_model,:class=>"form-text-spacing" %>
    <%= form.text_field :vehicel_model,:class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :vehicel_color,:class=>"form-text-spacing" %>
    <%= form.text_field :vehicel_color,:class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :plate_number,:class=>"form-text-spacing" %>
    <%= form.text_field :plate_number,:class=> "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit 'register your vehicel',:class=>"btn btn-primary btn-margin form-text-spacing" %>
  </div>
<% end %>
