<p id="notice"><%= notice %></p>
<div class="container login-text with-container">
  <%= link_to user_vehicels_path(current_user), :class=>"link" do %>
      <h1 class="signin-text form-text-spacing btn-margin text">Vehicle List</h1>
  <%end%>


 <%= form_tag( user_vehicels_path(current_user), method: "get", class: 'form-inline search-form') do %>
      <%= text_field_tag :search_field,"", class: 'form-control mr-sm-2 search-inout', placeholder: 'Search using vehicle brand or model' %>
      <%= submit_tag "Search",class:"btn btn-outline-success my-2 my-sm-0" %>
 <%end%>

  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Surname</th>
        <th>Vehicel brand</th>
        <th>Vehicel model</th>
        <th>Vehicel color</th>
        <th>Plate number</th>
        <th>User ID</th>
        <th>Vehicle ID</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vehicels.each do |vehicel| %>
        <tr>
          <td><%= vehicel.First_name %></td>
          <td><%= vehicel.surname %></td>
          <td><%= vehicel.vehicel_brand %></td>
          <td><%= vehicel.vehicel_model %></td>
          <td><%= vehicel.vehicel_color %></td>
          <td><%= vehicel.plate_number %></td>
          <td><%= vehicel.user_id %></td>
          <td><%= vehicel.id %></td>
          <td><%= link_to 'Show', user_vehicel_path(current_user, vehicel.id),'data-no-turbolink':  true %></td>
          <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_user_vehicel_path(current_user, vehicel.id) %></td>
          <td><%= link_to '<i class="material-icons text-danger">delete</i>'.html_safe, user_vehicel_path(current_user, vehicel.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Vehicel', new_user_vehicel_path(current_user),:class=>"btn btn-primary form-text-spacing btn-margin" %>
</div>
