<p id="notice"><%= notice %></p>

<div class="container">
  <%= link_to user_vehicel_locations_path(current_user), :class=>"link" do %>
      <h1 class="signin-text form-text-spacing btn-margin">Locations History</h1>
  <%end%>


 <%= form_tag( user_vehicel_locations_path(current_user), method: "get", class: 'form-inline search-form') do %>
      <%= text_field_tag :search_field,"", class: 'form-control mr-sm-2 search-inout', placeholder: 'Search using vehicle ID' %>
      <%= submit_tag "Search",class:"btn btn-outline-success my-2 my-sm-0" %>
 <%end%>



<table class="table">
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Vehicel ID</th>
      <th>Date</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.vehicel_id %></td>
        <td><%= location.created_at %></td>
        <td><%= link_to 'view', "http://maps.google.com/maps?q=loc:#{location.latitude},#{location.longitude}" %></td>
        <td><%= link_to '<i class="material-icons text-danger">delete</i>'.html_safe, user_vehicel_location_path(current_user, location.vehicel_id,location.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

