<!DOCTYPE html>
<html>
  <head>
    <title>VehicelTrackingSystem</title>
        <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' 
            async defer></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
      <script src='//underscorejs.org/underscore-min.js' type='text/javascript'></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navmenu' %>

    <p class="alert"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   



    <%= yield %>



  </body>
</html>
